%text-unit {
  padding: 0 var(--padding-basic);
  height: var(--height-basic);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
}

:host {

  --wrap-width: 500px;
  --wrap-padding: 30px;
  --margin-standart: 20px;
  --color-primary-grey: #f5f5f5;
  --font-size-basic: 20px;
  --height-basic: 40px;
  --padding-basic: 15px;
  --line-height-basic: var(--height-basic);

  .task {


    @extend %text-unit;

    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    padding-right: 0;


    &__buttons {
      display: flex;
      align-items: center;
    }

    &__button {
      height: 35px;
      width: 35px;
      margin: 1px 5px;
      background: url("assets/check.svg");
      background-size: cover;
      border: none;
      cursor: pointer;

      &--del {
        background: url("assets/del.svg");
      }
    }
  }
}
