*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.slot-test {
    width: 10px;
    height: 10px;
    background: green;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}


// :root {
//   --test-color: #488aff;
// }

// todo-app {
//   --test-color: #f5f5f5;
// }

//dont work
// todo-app >>> span{
//   background: red;
// }

//dont work
// *::shadow  .todo__wrap {
//   background: red;
// }
